p{
    line-height:1;
    margin-top: 0;
    margin-bottom: 0;
}

.title{
    font: Arial Black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.subtitle{
    font: Arial;
    font-size: 10px;
    text-align: center;
}

.head{
    font: Arial Black;
    font-size: 15px;
    text-align:left;
    font-weight: bold;
}

.bold{
    font: Arial;
    font-size: 15px;
    text-align:left;
    font-weight: bold;
}

.italics{
    font: Arial;
    font-size: 15px;
    text-align:left;
    font-style: italic;
}

.regular{
    font: Arial;
    font-size: 15px;
    text-align:left;
}

img{
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

}

a {
    background-color: lightblue;
    color: darkblue;
    padding: 1e 1.5em;
    text-decoration: none;
    text-align: center;
}